<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="K3_TOOLS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
 <userSettings>
  <K3_TOOLS.Properties.Settings>
   <setting name="WindowLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="WindowWidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="WindowHeight" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BaseDirectory" serializeAs="String">
    <value>Press "Set Project Directory"</value>
   </setting>
   <setting name="SortExistingFiles" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SettingsWindowLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="SettingsWindowWidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SettingsWindowHeight" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ImageFolderName" serializeAs="String">
    <value>Images</value>
   </setting>
   <setting name="AudioFolderName" serializeAs="String">
    <value>Audio</value>
   </setting>
   <setting name="VideoFolderName" serializeAs="String">
    <value>Video</value>
   </setting>
   <setting name="ModelFolderName" serializeAs="String">
    <value>3D Models</value>
   </setting>
   <setting name="CSharpScriptFolderName" serializeAs="String">
    <value>Scripts</value>
   </setting>
   <setting name="HtmlScriptFolderName" serializeAs="String">
    <value>html</value>
   </setting>
   <setting name="CssScriptFolderName" serializeAs="String">
    <value>css</value>
   </setting>
   <setting name="ImagePrefix" serializeAs="String">
    <value />
   </setting>
   <setting name="AudioPrefix" serializeAs="String">
    <value />
   </setting>
   <setting name="VideoPrefix" serializeAs="String">
    <value />
   </setting>
   <setting name="ModelPrefix" serializeAs="String">
    <value />
   </setting>
   <setting name="CSharpScriptPrefix" serializeAs="String">
    <value />
   </setting>
   <setting name="HtmlScriptPrefix" serializeAs="String">
    <value />
   </setting>
   <setting name="CssScriptPrefix" serializeAs="String">
    <value />
   </setting>
   <setting name="PrefabFolderName" serializeAs="String">
    <value>Prefabs</value>
   </setting>
   <setting name="PrefabPrefix" serializeAs="String">
    <value />
   </setting>
   <setting name="MaterialFolderName" serializeAs="String">
    <value>Material</value>
   </setting>
   <setting name="MaterialPrefix" serializeAs="String">
    <value />
   </setting>
  </K3_TOOLS.Properties.Settings>
 </userSettings>
</configuration>